.containerZero {
  font-family:"futura-pt";
  font-size:1.7rem;
  line-height:1.7em;
}

.containerOne {
  display:flex;
  justify-content: space-around;
  margin-top:1vh;
}

.aboutPageProseOne {
  max-width:70vw;
  margin:18vh 5vw 0 7vw;
}

.nameFont {
  font-family:"ccclobberintimecrunchy";
  font-size:2.5rem;
  letter-spacing:0.3rem;
  font-style:italic;
  margin-right:5px;
}

 .photoContainer {
   margin: 7vh 10vw 0 0;
 }

.aboutPageProseTwo {
  max-width:90vw;
  margin:0 auto;
}

.aboutPageProseThree {
  max-width:80vw;
  margin-left:9vw;
}


.externalLink {
  text-decoration:none;
  font-weight:500;
  letter-spacing:2px;
  color:#b0b0b0;
  cursor:pointer;
}

.externalLink:hover {
  text-decoration: underline;
}

.containerTwo {
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items:center;
  margin-bottom:15vh;
}

.aboutPageProseFour {
  max-width:98vw;
}

.mailingListForm {
  margin:0 5vw 0 0.5vw;
}

@media (max-width: 991.98px) {

}
