.bookImages {
  display:flex;
  justify-content: flex-end;
  margin:16vh 14vw 0 14vw;
}

.bookPicOne {
  opacity:0.7;
  box-shadow:2px 2px 52px black;
  transform: rotate(-3deg);
}

.bookPicTwo {
  opacity:0.9;
  box-shadow:2px 2px 52px black;
  transform: rotate(-3deg);
}

.bookPicThree {
  opacity:0.5;
  box-shadow:2px 2px 52px black;
  transform: rotate(-3deg);
}

.purchaseLinkBox {
  display:block;
  text-align: center;
  margin:5vh 0 5vh 0;
  font-family:"ccclobberintimecrunchy";
  font-size:2.5rem;
  letter-spacing:2.3rem;
}

.purchaseLink {
  cursor:pointer;
  transition:1.3s ease-in-out letter-spacing;
}

.purchaseLink:hover {
  letter-spacing:3.6rem;
}

.blurbFrame {
  max-width:80%;
  margin:0 auto;
}

.blurbText {
  font-size:1.2rem;
  font-style:italic;
  line-height:2.3rem;
  letter-spacing:0.12rem;
  text-shadow:1px 1px 32px dimgray;

}
