@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.pageContainer {
  margin-top:10vh;
  animation: fadeIn ease-in 0.7s;
}

.bookContainer {
  width:100%;
  display:flex;
  flex-flow:column;
  align-items:center;
  row-gap:3vh;
  font-family:"futura-pt";
  font-size:1.7rem;
  letter-spacing:0.32rem;
  text-shadow:2px 4px snow,
              4px 6px 22px dimgray;

}

.bookInnerContainer {
  background:black;
  box-shadow:2px 2px 50px black;
  transition:2s transform;
  transform:rotate(2deg);
  cursor:pointer;
}

.bookInnerContainer:hover {
  opacity:0.7;
  transform:rotate(-6deg);
}

.bookDescription {
  max-width:75%;
  margin-bottom:7vh;
}

@media (max-width: 835px) and (orientation:portrait) {

  .coverImage {
    height:65%;
    width:65%;
  }

 }

 @media (max-width: 746px) and (orientation:landscape) {

   .coverImage {
     height:65%;
     width:65%;
   }

  }
