.pageContainer {
  margin-top:10vh;
}

.bookContainer {
  width:100%;
  display:flex;
  flex-flow:column;
  align-items:center;
  row-gap:3vh;
  font-family:"futura-pt";
  font-size:1.7rem;
  letter-spacing:0.32rem;
  text-shadow:2px 4px snow,
              4px 6px 22px dimgray;
}

.coverImage {
  cursor:pointer;
  box-shadow:2px 2px 33px black;
  transform:rotate(2deg);
}

.coverImage:hover {
  opacity:0.7;
}

.bookDescription {
  max-width:75%;
  margin-bottom:7vh;
}
