.pageContainer {
  margin-top:10vh;
}

.bookContainer {
  width:100%;
  display:flex;
  flex-flow:column;
  align-items:center;
  row-gap:3vh;
}

.bookDescription {
  max-width:50%;
  margin-bottom:7vh;
}
