@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.pageContainer {
  display:flex;
  flex-flow:row;
  justify-content: space-around;
}

.worksContainer {
  max-width:78%;
  display:flex;
  flex-flow:column wrap;
  align-items: center;
  animation: fadeIn ease-in 0.4s;
}

.groupHeader {
  font-family:"ccclobberintimesmooth";
  font-size:2.5rem;
  letter-spacing:0.3rem;
  font-style:italic;
  text-align:center;
  text-transform: uppercase;
  letter-spacing:0.2rem;
  margin-bottom:5.5vh;
}

.workTitle {
  font-family:"ccclobberintimesmooth";
  font-size:2.5rem;
  letter-spacing:0.3rem;
  font-style:italic;
  text-align:center;
  text-transform: uppercase;
  margin-bottom:2.5vh;

}

.workLink {
  display:inline-block;
  font-family:"ccclobberintimesmooth";
  cursor:pointer;
  margin:0 0 3.5vh 5vw;
  text-shadow:3px 9px #e8e8e8;
  transition:1s transform;
}

.venue {
  font-style:italic;
}

.workLink:hover {
  color:white;
  text-shadow:2px 2px black;
  transform:rotate(3deg);
}

/* This was being updated manually and so, as of 2024, is */
/* Out of date. So we're going to hide it for now */
.readingContainer {
  max-width:22%;
  display:flex;
  flex-flow:column wrap;
  align-items: center;
  padding:15px;
  margin:5vh 0;
  box-shadow:inset 6px 12px 16px silver,
                   12px 24px 16px black;
  border-radius:65px;
  animation: fadeIn ease-in 0.9s;
}

.groupHeaderTwo {
  font-family:"ccclobberintimesmooth";
  font-size:2rem;
  color:whitesmoke;
  text-shadow:2px 3px black,
               4px 5px 10px dimgray;
  letter-spacing:0.2vw;
  text-align:center;
  text-transform: uppercase;
}

.readingsContainer {
  font-family:"futura-pt";
  text-align:center;
}

.workSubtitle {
  font-family: "ccclobberintimesmooth";
  margin: 0 0 4.5vh 14vw;
  font-size: 1.5rem;
}

.month {
  text-transform:uppercase;
}

.books {
  color:darkgray;
  text-transform:uppercase;
  font-weight:700;
}

@media (max-width: 927px) and (orientation:landscape) {

  .worksContainer {
    max-width:58%;
  }

  .groupHeaderTwo {
    font-size:1.6rem;
  }

 }

 @media (max-width: 822px) and (orientation:portrait) {

   .worksContainer {
     max-width:63%;
   }

  }

  @media (max-width: 667px) and (orientation:landscape) {

    .groupHeaderTwo {
      font-size:1.2rem;
    }

    .readingImage {
      width:85%;
    }

   }

@media (max-width: 541px) and (orientation:portrait) {

  .worksContainer {
    max-width:87%;
  }

  .groupHeader {
    font-size:2rem;
    letter-spacing:0;
  }

  .workLink {
    margin:0 0 3.5vh 0;
  }

  .readingContainer {
    max-width:32%;
    padding:1px;
    margin:5vh 0;
  }

  .groupHeaderTwo {
    font-size:1.2rem;
  }

  .readingImage {
    width:75%;
  }

 }

 @media (max-width: 321px) and (orientation:portrait) {

   .worksContainer {
     max-width:38%;
   }

   .groupHeader {
     font-size:1.5rem;
     letter-spacing:0;
   }

   .workTitle {
     font-size:1.2rem;

   }

  }
